/* @import '~antd/dist/antd.css'; */

.login-form {
  /* text-align: center; */
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.ant-typography {
  padding-left: 10px;
}

.review-form {
  max-width: 900px;
}

.review-form-button {
  width: 100%;
}

/* add pointer to tables */
.entree-table .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  cursor: pointer;
}
